workflows/ai-scout-workflow.json
{
  "name": "AI Scout + Mentor",
  "nodes": [
    {
      "parameters": {
        "url": "={{ $json.url }}",
        "options": {}
      },
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.2,
      "position": [
        -32,
        224
      ],
      "id": "f6dafdeb-eee3-4b83-b49e-bcde50413e76",
      "name": "RSS Read",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "owner": {
          "__rl": true,
          "value": "bhatnagarrishi",
          "mode": "name"
        },
        "repository": {
          "__rl": true,
          "value": "ai-scout",
          "mode": "list",
          "cachedResultName": "ai-scout",
          "cachedResultUrl": "https://github.com/bhatnagarrishi/ai-scout"
        },
        "title": "={{ JSON.parse($json.stdout).project_title }}",
        "body": "==### 🎯 Objective\n{{ JSON.parse($json.stdout).objective }}\n\n---\n**🏭 Source:** {{ JSON.parse($json.stdout).source }}\n**🧩 Area:** {{ JSON.parse($json.stdout).area }}\n**⚙️ Tech Stack:** {{ JSON.parse($json.stdout).tech_stack }}\n**🔑 Prerequisites:** {{ JSON.parse($json.stdout).prerequisites }}\n**🔥 Difficulty:** {{ JSON.parse($json.stdout).difficulty }} | **⏱️ Time:** {{ JSON.parse($json.stdout).estimated_time }}\n\n---\n### 🛠️ Action Plan\n{{ Array.isArray(JSON.parse($json.stdout).action_plan) ? JSON.parse($json.stdout).action_plan.join('\\n\\n') : JSON.parse($json.stdout).action_plan }}\n\n<!-- source_url: {{ $('Merge').item.json.link || $('RSS Read').item.json.id }} -->\n",
        "labels": [],
        "assignees": []
      },
      "type": "n8n-nodes-base.github",
      "typeVersion": 1.1,
      "position": [
        1584,
        -160
      ],
      "id": "e6964cd9-fd26-4fbc-b6bc-365a7d1d81a1",
      "name": "Create an issue",
      "webhookId": "45f03d2b-afa9-4131-80be-785b2d4b1cf0",
      "credentials": {
        "githubApi": {
          "id": "jRovgKIx19abru0d",
          "name": "ai-scout"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 4
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -576,
        -288
      ],
      "id": "4ba059b8-0ba7-4ead-85b3-10e3eee096cd",
      "name": "4am daily trigger"
    },
    {
      "parameters": {
        "jsCode": "// Grab and decode the Base64 JSON downloaded from the Github node\nconst rawText = Buffer.from($('Get RSS Feed list').first().json.content, 'base64').toString('utf8');\nconst feeds = JSON.parse(rawText);\n\n// Filter out any feeds that are not active, then feed the result perfectly into n8n!\nreturn feeds\n  .filter(feed => feed.active === true)\n  .map(feed => {\n    return {\n      json: feed\n    };\n  });\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        96,
        -288
      ],
      "id": "9a13c4da-6271-4d3e-9149-d8ebbe537f53",
      "name": "Extract RSS Feed URLs"
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "get",
        "owner": {
          "__rl": true,
          "value": "bhatnagarrishi",
          "mode": "name"
        },
        "repository": {
          "__rl": true,
          "value": "ai-scout",
          "mode": "list",
          "cachedResultName": "ai-scout",
          "cachedResultUrl": "https://github.com/bhatnagarrishi/ai-scout"
        },
        "filePath": "scout-config/rss_feeds.json",
        "asBinaryProperty": false,
        "additionalParameters": {}
      },
      "type": "n8n-nodes-base.github",
      "typeVersion": 1.1,
      "position": [
        -128,
        -288
      ],
      "id": "691f4cb9-f8dd-4717-895b-a414556f16e2",
      "name": "Get RSS Feed list",
      "webhookId": "0f63f942-d2df-46b2-b930-64014862fc40",
      "credentials": {
        "githubApi": {
          "id": "jRovgKIx19abru0d",
          "name": "ai-scout"
        }
      }
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "get",
        "owner": {
          "__rl": true,
          "value": "bhatnagarrishi",
          "mode": "name"
        },
        "repository": {
          "__rl": true,
          "value": "ai-scout",
          "mode": "list",
          "cachedResultName": "ai-scout",
          "cachedResultUrl": "https://github.com/bhatnagarrishi/ai-scout"
        },
        "filePath": "scout-config/ingested_urls.json",
        "asBinaryProperty": false,
        "additionalParameters": {}
      },
      "type": "n8n-nodes-base.github",
      "typeVersion": 1.1,
      "position": [
        -352,
        -288
      ],
      "id": "df465879-a775-4f77-a380-4bf7e85fd928",
      "name": "Get Ingested Urls",
      "webhookId": "de63abe8-599a-4655-9aa1-cae1a964c12a",
      "credentials": {
        "githubApi": {
          "id": "jRovgKIx19abru0d",
          "name": "ai-scout"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "8c21733e-f2f6-41e9-a50d-2b3f4b58dacc",
              "leftValue": "={{ $json.stdout ? JSON.parse($json.stdout).status : 'Error' }}",
              "rightValue": "Accepted",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1136,
        -256
      ],
      "id": "cd33a68f-6b78-4cef-8ecb-8c34b81b9888",
      "name": "Filter relevant issues"
    },
    {
      "parameters": {
        "jsCode": "// 1. Fetch historical memory from the very first node\nconst historicalBase64 = $('Get Ingested Urls').first().json.content;\nconst rawHistory = JSON.parse(Buffer.from(historicalBase64, 'base64').toString('utf8'));\n\n// 2. Fetch EVERY URL that was read by the RSS node this session\n// We use .all() to grab the entire batch of 925+ items at once!\nconst rssItems = $('RSS Read').all();\nconst ytItems = $('Get extra fields for YouTube videos').all();\nconst sessionItems = [...rssItems, ...ytItems];\nconst sessionUrls = sessionItems.map(item => item.json.link || item.json.guid);\n\n// 3. Merge, De-duplicate, and REMOVE NULLS\n// This filters out any empty strings or nulls automatically\nconst combined = [...new Set([...rawHistory, ...sessionUrls])].filter(url => url && typeof url === 'string');\n\nreturn {\n  json: {\n    file_content: JSON.stringify(combined, null, 2)\n  }\n};\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1808,
        -352
      ],
      "id": "7fbc9bfa-c828-4bfc-aa20-b5a45ec29d9d",
      "name": "Update Ingested URLs"
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "edit",
        "owner": {
          "__rl": true,
          "value": "bhatnagarrishi",
          "mode": "name"
        },
        "repository": {
          "__rl": true,
          "value": "ai-scout",
          "mode": "list",
          "cachedResultName": "ai-scout",
          "cachedResultUrl": "https://github.com/bhatnagarrishi/ai-scout"
        },
        "filePath": "scout-config/ingested_urls.json",
        "fileContent": "={{ $json.file_content }}",
        "commitMessage": "={{ $('Get Ingested Urls').item.json.sha }}"
      },
      "type": "n8n-nodes-base.github",
      "typeVersion": 1.1,
      "position": [
        2032,
        -352
      ],
      "id": "746255f2-ea82-46a7-826b-2f5a92b4e182",
      "name": "Check in Ingested URLs in Git",
      "webhookId": "f55d2e49-9067-4c01-92a8-a0cf5fd46027",
      "credentials": {
        "githubApi": {
          "id": "jRovgKIx19abru0d",
          "name": "ai-scout"
        }
      }
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        1584,
        -352
      ],
      "id": "9216346a-23d3-4c16-9c61-fe1c78374950",
      "name": "Aggregate"
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst ingestedContent = $(\"Get Ingested Urls\").all()[0].json.content;\nconst ingestedUrls = JSON.parse(Buffer.from(ingestedContent, 'base64').toString('utf8')).map(u => u.trim());\n\nreturn items.filter(item => {\n  const url = (item.json.link || item.json.guid || \"\").trim();\n  return url && !ingestedUrls.includes(url);\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        544,
        -240
      ],
      "id": "bd358872-faed-4427-b367-d95d45677ca6",
      "name": "Dedupe filter",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "64b04f64-0b5c-433d-b563-e1780a968e1e",
              "leftValue": "={{ $json.type }}",
              "rightValue": "=youtube",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -320,
        16
      ],
      "id": "2892276a-eb10-4c2b-aadf-7a4d22c00c9b",
      "name": "YouTube vs RSS"
    },
    {
      "parameters": {
        "url": "={{ $json.url }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -48,
        -64
      ],
      "id": "37f07b99-782b-4289-9a85-3a20d368d331",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "jsCode": "// Parse YouTube RSS XML manually to extract media:description\nconst xml = $input.first().json.data; // raw XML string\n\n// Helper: extract all occurrences of a tag\nconst extractAll = (tag, content) => {\n  const results = [];\n  const regex = new RegExp(`<${tag}[^>]*>([\\\\s\\\\S]*?)<\\\\/${tag}>`, 'g');\n  let m;\n  while ((m = regex.exec(content)) !== null) results.push(m[1].trim());\n  return results;\n};\n\nconst extractAttr = (tag, attr, content) => {\n  const regex = new RegExp(`<${tag}[^>]+${attr}=\"([^\"]*)\"`, 'g');\n  const results = [];\n  let m;\n  while ((m = regex.exec(content)) !== null) results.push(m[1]);\n  return results;\n};\n\n// Split into <entry> blocks\nconst entries = xml.split('<entry>').slice(1);\n\nreturn entries.map(entry => {\n  const get = (tag) => extractAll(tag, entry)[0] || '';\n  \n  return {\n    json: {\n      title:          get('title').replace(/<!\\[CDATA\\[|\\]\\]>/g, ''),\n      link:           (/<link rel=\"alternate\" href=\"([^\"]+)\"/.exec(entry) || [])[1] || '',\n      pubDate:        get('published'),\n      author:         get('name'),\n      id:             get('yt:videoId'),\n      contentSnippet: get('media:description').replace(/<!\\[CDATA\\[|\\]\\]>/g, '').substring(0, 1000),\n      views:          (/<media:statistics views=\"(\\d+)\"/.exec(entry) || [])[1] || '0',\n      thumbnail:      (/<media:thumbnail url=\"([^\"]+)\"/.exec(entry) || [])[1] || '',\n    }\n  };\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        160,
        -48
      ],
      "id": "a88dcf3f-efe1-42c5-b241-d76718bb45e0",
      "name": "Get extra fields for YouTube videos"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        368,
        144
      ],
      "id": "d6621133-6f64-42fb-a4c6-2d682c3e49b4",
      "name": "Merge"
    },
    {
      "parameters": {
        "batchSize": 3,
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        864,
        -368
      ],
      "id": "fd855930-fa9a-405f-af50-57a5ae92c715",
      "name": "Send LLM requests in batches"
    },
    {
      "parameters": {
        "executeOnce": false,
        "command": "=python scout_agent.py --title \"{{ $json.title.replace('\"', '\\\"') }}\" --snippet \"{{ $json.contentSnippet.replace('\"', '\\\"') }}\""
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        896,
        -128
      ],
      "id": "16bacc73-124f-482a-a1ce-837b7e154ae5",
      "name": "Send LLM request"
    },
    {
      "parameters": {
        "amount": 1
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1040,
        0
      ],
      "id": "64c106c8-7e11-4e64-97af-7e0da9e7fc5a",
      "name": "Pause1",
      "webhookId": "6cdf3c81-0953-45b4-8638-da3c19093495"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1808,
        -64
      ],
      "id": "f01572b1-a925-4d8d-a852-c376469fed1c",
      "name": "Pause2",
      "webhookId": "9dfc01a3-a959-46dc-8b27-3eb53653f6b8"
    },
    {
      "parameters": {
        "batchSize": 5,
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        1360,
        -160
      ],
      "id": "59389816-798c-4961-bbcf-8435d2397998",
      "name": "Throttle GitHub API calls"
    }
  ],
  "pinData": {},
  "connections": {
    "RSS Read": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "4am daily trigger": {
      "main": [
        [
          {
            "node": "Get Ingested Urls",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract RSS Feed URLs": {
      "main": [
        [
          {
            "node": "YouTube vs RSS",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get RSS Feed list": {
      "main": [
        [
          {
            "node": "Extract RSS Feed URLs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Ingested Urls": {
      "main": [
        [
          {
            "node": "Get RSS Feed list",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter relevant issues": {
      "main": [
        [
          {
            "node": "Throttle GitHub API calls",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create an issue": {
      "main": [
        [
          {
            "node": "Pause2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Ingested URLs": {
      "main": [
        [
          {
            "node": "Check in Ingested URLs in Git",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "Update Ingested URLs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Dedupe filter": {
      "main": [
        [
          {
            "node": "Send LLM requests in batches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "YouTube vs RSS": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "RSS Read",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Get extra fields for YouTube videos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get extra fields for YouTube videos": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Dedupe filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send LLM requests in batches": {
      "main": [
        [
          {
            "node": "Filter relevant issues",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send LLM request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send LLM request": {
      "main": [
        [
          {
            "node": "Pause1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pause1": {
      "main": [
        [
          {
            "node": "Send LLM requests in batches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pause2": {
      "main": [
        [
          {
            "node": "Throttle GitHub API calls",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Throttle GitHub API calls": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Create an issue",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "d8a4d046-6e6b-4ee9-8bbc-df334e619041",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "5a12ff2ec3c83de85fbf0f876515566da46b19733d02a0620f8f6adc00f08a88"
  },
  "id": "8zdTRXyEFCSZ8FuL",
  "tags": []
}