workflows/ai-scout-workflow.json
{
  "name": "AI Scout + Mentor",
  "nodes": [
    {
      "parameters": {
        "url": "={{ $json.url }}",
        "options": {}
      },
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.2,
      "position": [
        912,
        -320
      ],
      "id": "f6dafdeb-eee3-4b83-b49e-bcde50413e76",
      "name": "RSS Read",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "modelName": "models/gemini-3.1-flash-lite-preview",
        "options": {
          "maxOutputTokens": 4096,
          "temperature": 0.2
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        48,
        144
      ],
      "id": "51209b58-2384-4484-b6ee-8e4a67b512be",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "rFJhrkoIRxubcbz7",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "owner": {
          "__rl": true,
          "value": "bhatnagarrishi",
          "mode": "name"
        },
        "repository": {
          "__rl": true,
          "value": "ai-scout",
          "mode": "list",
          "cachedResultName": "ai-scout",
          "cachedResultUrl": "https://github.com/bhatnagarrishi/ai-scout"
        },
        "title": "={{ JSON.parse($('Use LLM to decide quality').item.json.text).project_title }}",
        "body": "=### 🎯 Objective\n{{ JSON.parse($('Use LLM to decide quality').item.json.text).objective }}\n\n---\n**🏭 Source:** {{ JSON.parse($('Use LLM to decide quality').item.json.text).source }}\n**🧩 Area:** {{ JSON.parse($('Use LLM to decide quality').item.json.text).area }}\n**⚙️ Tech Stack:** {{ JSON.parse($('Use LLM to decide quality').item.json.text).tech_stack }}\n**🔑 Prerequisites:** {{ JSON.parse($('Use LLM to decide quality').item.json.text).prerequisites }}\n**🔥 Difficulty:** {{ JSON.parse($('Use LLM to decide quality').item.json.text).difficulty }} | **⏱️ Time:** {{ JSON.parse($('Use LLM to decide quality').item.json.text).estimated_time }}\n\n---\n### 🛠️ Action Plan\n{{ Array.isArray(JSON.parse($('Use LLM to decide quality').item.json.text).action_plan) ? JSON.parse($('Use LLM to decide quality').item.json.text).action_plan.join('\\n\\n') : JSON.parse($('Use LLM to decide quality').item.json.text).action_plan }}\n\n<!-- source_url: {{ $('RSS Read').item.json.link || $('RSS Read').item.json.id }} -->\n",
        "labels": [],
        "assignees": []
      },
      "type": "n8n-nodes-base.github",
      "typeVersion": 1.1,
      "position": [
        800,
        144
      ],
      "id": "e6964cd9-fd26-4fbc-b6bc-365a7d1d81a1",
      "name": "Create an issue",
      "webhookId": "45f03d2b-afa9-4131-80be-785b2d4b1cf0",
      "credentials": {
        "githubApi": {
          "id": "jRovgKIx19abru0d",
          "name": "Cortex-Private"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 4
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -32,
        -320
      ],
      "id": "4ba059b8-0ba7-4ead-85b3-10e3eee096cd",
      "name": "4am daily trigger"
    },
    {
      "parameters": {
        "jsCode": "// Grab and decode the Base64 JSON downloaded from the Github node\nconst rawText = Buffer.from($('Get RSS Feed list').first().json.content, 'base64').toString('utf8');\nconst feeds = JSON.parse(rawText);\n\n// Filter out any feeds that are not active, then feed the result perfectly into n8n!\nreturn feeds\n  .filter(feed => feed.active === true)\n  .map(feed => {\n    return {\n      json: feed\n    };\n  });\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        672,
        -320
      ],
      "id": "9a13c4da-6271-4d3e-9149-d8ebbe537f53",
      "name": "Extract RSS Feed URLs"
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "get",
        "owner": {
          "__rl": true,
          "value": "bhatnagarrishi",
          "mode": "name"
        },
        "repository": {
          "__rl": true,
          "value": "ai-scout",
          "mode": "list",
          "cachedResultName": "ai-scout",
          "cachedResultUrl": "https://github.com/bhatnagarrishi/ai-scout"
        },
        "filePath": "scout-config/rss_feeds.json",
        "asBinaryProperty": false,
        "additionalParameters": {}
      },
      "type": "n8n-nodes-base.github",
      "typeVersion": 1.1,
      "position": [
        448,
        -320
      ],
      "id": "691f4cb9-f8dd-4717-895b-a414556f16e2",
      "name": "Get RSS Feed list",
      "webhookId": "0f63f942-d2df-46b2-b930-64014862fc40",
      "credentials": {
        "githubApi": {
          "id": "jRovgKIx19abru0d",
          "name": "ai-scout"
        }
      }
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "get",
        "owner": {
          "__rl": true,
          "value": "bhatnagarrishi",
          "mode": "name"
        },
        "repository": {
          "__rl": true,
          "value": "ai-scout",
          "mode": "list",
          "cachedResultName": "ai-scout",
          "cachedResultUrl": "https://github.com/bhatnagarrishi/ai-scout"
        },
        "filePath": "scout-config/ingested_urls.json",
        "asBinaryProperty": false,
        "additionalParameters": {}
      },
      "type": "n8n-nodes-base.github",
      "typeVersion": 1.1,
      "position": [
        192,
        -320
      ],
      "id": "df465879-a775-4f77-a380-4bf7e85fd928",
      "name": "Get Ingested Urls",
      "webhookId": "de63abe8-599a-4655-9aa1-cae1a964c12a",
      "credentials": {
        "githubApi": {
          "id": "jRovgKIx19abru0d",
          "name": "ai-scout"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "70bfcdf3-568c-40c4-9100-c4ce311fe599",
              "leftValue": "={{ JSON.parse(Buffer.from($('Get Ingested Urls').first().json.content, 'base64').toString('utf8')).includes($('RSS Read').item.json.link) }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            },
            {
              "id": "2298f812-5a94-434d-ba65-008c3f5830e3",
              "leftValue": "={{ $json.link }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1152,
        -320
      ],
      "id": "08778bdc-1909-4cc8-a566-12a0fabc9023",
      "name": "Filter only new feeds"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.title }}{{ $json.contentSnippet }}",
        "messages": {
          "messageValues": [
            {
              "message": "\"You are an AI Master Instructor. I will provide you with titles and summaries from AI news and tutorials.  Filter Criteria: Evaluate if the content describes a new model, library, tool, or technique that can be tested/implemented in Python within 3 hours. Reject news about funding, policy, or generic 'hype.'  > **Output Requirement:** ALWAYS output a strictly valid JSON object exactly matching this format: > { >   \"status\": \"Accepted or Rejected\", >   \"reasoning\": \"1 sentence explaining why\", >   \"project_title\": \"Title of the project\", >   \"objective\": \"1-2 sentences explaining exactly what is being built and why it matters\", >   \"source\": \"e.g., OpenAI, Anthropic, HuggingFace, etc.\", >   \"area\": \"e.g., Image Generation, Agentic AI, RAG, Core Coding\", >   \"tech_stack\": \"e.g., Python, FastAPI, LangChain\", >   \"prerequisites\": \"e.g., OpenAI API Key, Local GPU\", >   \"difficulty\": \"Beginner, Intermediate, or Advanced\", >   \"estimated_time\": \"e.g., 2 hours\", >   \"action_plan\": \"5 exact, actionable steps to build the Proof of Concept\", >   \"github_repo_name\": \"slugified-title\" > }"
            }
          ]
        },
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        16,
        -80
      ],
      "id": "a5e58715-bd5d-440c-810d-be71e7825ae0",
      "name": "Use LLM to decide quality",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "8c21733e-f2f6-41e9-a50d-2b3f4b58dacc",
              "leftValue": "={{ $json.text ? JSON.parse($json.text).status : 'Error' }}",
              "rightValue": "Accepted",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        288,
        112
      ],
      "id": "cd33a68f-6b78-4cef-8ecb-8c34b81b9888",
      "name": "Filter relevant issues"
    },
    {
      "parameters": {
        "jsCode": "// 1. Fetch historical memory from the very first node\nconst historicalBase64 = $('Get Ingested Urls').first().json.content;\nconst rawHistory = JSON.parse(Buffer.from(historicalBase64, 'base64').toString('utf8'));\n\n// 2. Fetch EVERY URL that was read by the RSS node this session\n// We use .all() to grab the entire batch of 925+ items at once!\nconst sessionItems = $('RSS Read').all();\nconst sessionUrls = sessionItems.map(item => item.json.link || item.json.guid);\n\n// 3. Merge, De-duplicate, and REMOVE NULLS\n// This filters out any empty strings or nulls automatically\nconst combined = [...new Set([...rawHistory, ...sessionUrls])].filter(url => url && typeof url === 'string');\n\nreturn {\n  json: {\n    file_content: JSON.stringify(combined, null, 2)\n  }\n};\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        960,
        -48
      ],
      "id": "7fbc9bfa-c828-4bfc-aa20-b5a45ec29d9d",
      "name": "Update Ingested URLs"
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "edit",
        "owner": {
          "__rl": true,
          "value": "bhatnagarrishi",
          "mode": "name"
        },
        "repository": {
          "__rl": true,
          "value": "ai-scout",
          "mode": "list",
          "cachedResultName": "ai-scout",
          "cachedResultUrl": "https://github.com/bhatnagarrishi/ai-scout"
        },
        "filePath": "scout-config/ingested_urls.json",
        "fileContent": "={{ $json.file_content }}",
        "commitMessage": "={{ $('Get Ingested Urls').item.json.sha }}"
      },
      "type": "n8n-nodes-base.github",
      "typeVersion": 1.1,
      "position": [
        1280,
        -48
      ],
      "id": "746255f2-ea82-46a7-826b-2f5a92b4e182",
      "name": "Check in Ingested URLs in Git",
      "webhookId": "f55d2e49-9067-4c01-92a8-a0cf5fd46027",
      "credentials": {
        "githubApi": {
          "id": "jRovgKIx19abru0d",
          "name": "ai-scout"
        }
      }
    },
    {
      "parameters": {
        "batchSize": 5,
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        608,
        -32
      ],
      "id": "59389816-798c-4961-bbcf-8435d2397998",
      "name": "Loop Over Items"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1008,
        144
      ],
      "id": "f01572b1-a925-4d8d-a852-c376469fed1c",
      "name": "Wait",
      "webhookId": "9dfc01a3-a959-46dc-8b27-3eb53653f6b8"
    }
  ],
  "pinData": {
    "4am daily trigger": [
      {
        "json": {
          "timestamp": "2026-04-04T02:19:15.738-04:00",
          "Readable date": "April 4th 2026, 2:19:15 am",
          "Readable time": "2:19:15 am",
          "Day of week": "Saturday",
          "Year": "2026",
          "Month": "April",
          "Day of month": "04",
          "Hour": "02",
          "Minute": "19",
          "Second": "15",
          "Timezone": "America/New_York (UTC-04:00)"
        },
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "connections": {
    "RSS Read": {
      "main": [
        [
          {
            "node": "Filter only new feeds",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Use LLM to decide quality",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "4am daily trigger": {
      "main": [
        [
          {
            "node": "Get Ingested Urls",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract RSS Feed URLs": {
      "main": [
        [
          {
            "node": "RSS Read",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get RSS Feed list": {
      "main": [
        [
          {
            "node": "Extract RSS Feed URLs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Ingested Urls": {
      "main": [
        [
          {
            "node": "Get RSS Feed list",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter only new feeds": {
      "main": [
        [],
        [
          {
            "node": "Use LLM to decide quality",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Use LLM to decide quality": {
      "main": [
        [
          {
            "node": "Filter relevant issues",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter relevant issues": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create an issue": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Ingested URLs": {
      "main": [
        [
          {
            "node": "Check in Ingested URLs in Git",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "Update Ingested URLs",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Create an issue",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "11eb3556-7264-48da-ad99-c0d611918c96",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "5a12ff2ec3c83de85fbf0f876515566da46b19733d02a0620f8f6adc00f08a88"
  },
  "id": "8zdTRXyEFCSZ8FuL",
  "tags": []
}