workflows/feedback-listener-workflow.json
{
  "name": "Feedback Listener",
  "nodes": [
    {
      "parameters": {
        "owner": {
          "__rl": true,
          "value": "bhatnagarrishi",
          "mode": "name"
        },
        "repository": {
          "__rl": true,
          "value": "ai-scout",
          "mode": "list",
          "cachedResultName": "ai-scout",
          "cachedResultUrl": "https://github.com/bhatnagarrishi/ai-scout"
        },
        "events": [
          "issue_comment"
        ],
        "options": {}
      },
      "type": "n8n-nodes-base.githubTrigger",
      "typeVersion": 1,
      "position": [
        -336,
        -96
      ],
      "id": "0b81345a-9152-4bd9-b95a-b0726fb2459d",
      "name": "Github Trigger",
      "webhookId": "d45676fe-723c-4cc2-a113-04e4f589f3be",
      "credentials": {
        "githubApi": {
          "id": "jRovgKIx19abru0d",
          "name": "ai-scout"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        640,
        128
      ],
      "id": "d73dd0db-17e4-4413-8c8a-2f892270a5a1",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "rFJhrkoIRxubcbz7",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "58dc7544-9fc5-477d-9476-8300e79950e1",
              "leftValue": "={{ $json.body.issue.labels.some(l => l.name === 'rejected' || l.name === 'approved' || l.name === 'more-like-this') }}",
              "rightValue": "rejected",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -112,
        -96
      ],
      "id": "08481688-5944-4533-8c4b-c870da4b4496",
      "name": "Identify keyword in issue label"
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "get",
        "owner": {
          "__rl": true,
          "value": "bhatnagarrishi",
          "mode": "name"
        },
        "repository": {
          "__rl": true,
          "value": "ai-scout",
          "mode": "list",
          "cachedResultName": "ai-scout",
          "cachedResultUrl": "https://github.com/bhatnagarrishi/ai-scout"
        },
        "filePath": "scout-config/user_preferences.json",
        "asBinaryProperty": false,
        "additionalParameters": {}
      },
      "type": "n8n-nodes-base.github",
      "typeVersion": 1.1,
      "position": [
        112,
        -96
      ],
      "id": "ecb1d128-7d84-4884-9994-3462e402912f",
      "name": "Get user preference file",
      "webhookId": "f6b0c337-e5a9-41f2-983c-86d4d0666bcb",
      "credentials": {
        "githubApi": {
          "id": "jRovgKIx19abru0d",
          "name": "ai-scout"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const decodedContent = Buffer.from($json.content, 'base64').toString('utf8');\nreturn { json: JSON.parse(decodedContent) };\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        336,
        -96
      ],
      "id": "1d362803-a9e3-4397-97cb-42ea8899ef6c",
      "name": "Decode user preference file"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Project Title: {{ $('Github Trigger').item.json.body.issue.title }}\nProject Details: {{ $('Github Trigger').item.json.body.issue.body }}\nUser Feedback/Label: {{ $('Github Trigger').item.json.body.label ? $('Github Trigger').item.json.body.label.name : $('Github Trigger').item.json.body.comment.body }}\n",
        "messages": {
          "messageValues": [
            {
              "message": "You are an AI Feedback Classifier. Based on the User Feedback, Project Title, and Project Details, determine the user's preference constraint.  \n\nRULES: \n1. If the User Feedback is \"more-like-this\" or positive, the target array is \"positive_preferences\". \n2. If the User Feedback is \"reject\" or negative, the target is \"negative_constraints\". \n3. Write a crisp 1-sentence summary of the Project technology.\n4. Extract the user's reason for the feedback. If the user feedback is just a simple label (like \"rejected\") and lacks a comment, you MUST infer an objective reason based on the Project Details provided (e.g., \"User doesn't want projects about downloading concurrent files\").\n\nOUTPUT FORMAT: You must output ONLY a valid JSON object matching this exact schema, with no markdown formatting: \n{ \n  \"target\": \"positive_preferences\" | \"negative_constraints\", \n  \"item\": \"<your 1 sentence summary>\",\n  \"reason\": \"<the extracted or inferred reason>\"\n}"
            }
          ]
        },
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        560,
        -96
      ],
      "id": "fb3efffd-4b79-49ab-8efe-0d9ba21b18e1",
      "name": "LLM classifies user feedback"
    },
    {
      "parameters": {
        "jsCode": "// 1. Get the Historical Memory (Decode Base64)\nconst currentJsonRaw = Buffer.from($('Get user preference file').item.json.content, 'base64').toString('utf8');\nlet memory = JSON.parse(currentJsonRaw);\n\n// 2. Safely parse Gemini's output (Strip Markdown if necessary)\nlet LLMOutput = $('LLM classifies user feedback').item.json.text;\nif (LLMOutput.startsWith('```json')) {\n    LLMOutput = LLMOutput.replace(/```json/g, '').replace(/```/g, '');\n}\nconst newFeedback = JSON.parse(LLMOutput.trim());\n\n// 3. Deterministic Push Logic\nconst targetArray = newFeedback.target; // Routes to positive or negative\nconst newItemText = newFeedback.item;\nconst newReason = newFeedback.reason || \"Inferred from context\";\n\n// Prevent identical duplicate items, increment weight instead\nlet found = false;\nfor (let rule of memory[targetArray]) {\n    if (rule.item === newItemText) {\n        rule.weight = (rule.weight || 1) + 1;\n        // Optionally update the reason if it was a duplicate trigger\n        if (newFeedback.reason) { rule.reason = newReason; }\n        found = true; break;\n    }\n}\nif (!found) {\n    memory[targetArray].push({ item: newItemText, reason: newReason, weight: 1 });\n}\n\n// 4. Send beautiful, safe JSON to the next node!\nreturn { json: { file_content: JSON.stringify(memory, null, 2) } };\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        912,
        -96
      ],
      "id": "e6fac5a5-73d1-4141-86ce-cace9dea7460",
      "name": "Update user feedback in preference file"
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "edit",
        "owner": {
          "__rl": true,
          "value": "bhatnagarrishi",
          "mode": "name"
        },
        "repository": {
          "__rl": true,
          "value": "ai-scout",
          "mode": "list",
          "cachedResultName": "ai-scout",
          "cachedResultUrl": "https://github.com/bhatnagarrishi/ai-scout"
        },
        "filePath": "scout-config/user_preferences.json",
        "fileContent": "={{ $json.file_content }}",
        "commitMessage": "={{ $('Get user preference file').item.json.sha }}"
      },
      "type": "n8n-nodes-base.github",
      "typeVersion": 1.1,
      "position": [
        1136,
        -96
      ],
      "id": "d7ab44d0-a4b3-437f-bf33-8be40d95d963",
      "name": "Update user preference file",
      "webhookId": "dd1f6667-2436-46dc-84c1-3190a581f9f2",
      "credentials": {
        "githubApi": {
          "id": "jRovgKIx19abru0d",
          "name": "ai-scout"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Github Trigger": {
      "main": [
        [
          {
            "node": "Identify keyword in issue label",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "LLM classifies user feedback",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Identify keyword in issue label": {
      "main": [
        [
          {
            "node": "Get user preference file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get user preference file": {
      "main": [
        [
          {
            "node": "Decode user preference file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Decode user preference file": {
      "main": [
        [
          {
            "node": "LLM classifies user feedback",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "LLM classifies user feedback": {
      "main": [
        [
          {
            "node": "Update user feedback in preference file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update user feedback in preference file": {
      "main": [
        [
          {
            "node": "Update user preference file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "5aa1909b-cfc2-465b-9d68-e39185ccb0d2",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "5a12ff2ec3c83de85fbf0f876515566da46b19733d02a0620f8f6adc00f08a88"
  },
  "id": "vKuWigCfP4d3n9ou",
  "tags": []
}